<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Pull the lever</title>
</head>

<body>
    <script>
        var eventSource = new EventSource("/listenactivity")
    
        eventSource.addEventListener("newactivity", function(e) {
            location.replace("http://localhost:5001/pullanimation");
        })
    </script>

    <h1 id="page2h1">PULL ME</h1>
    <div class="next">
        <a href="/readyforactivity">Page 2</a>
        <a href="/pullanimation">Page 4</a>
    </div>
</body>

</html>